@charset "utf-8";

html {font-size: 15px;}

#wrap {
    overflow: hidden;
}
.inner {
    max-width: 95%;
}
h2 span {
    font-size: 2rem; /* 30px */
}

/* header */
header {
    height: 4.372rem; /* 70px */
}
header .inner {
    display:block;
    height: 100%;
}
header .logo > a {
    line-height: 4.372rem;
    text-align: center;
}
header .btn_mobile {
    position: absolute;
    top: 50%; left: 2.5%;
    transform: translateY(-50%);
    font-size: 1.875rem;
}
header .btn_search {
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%);
    font-size: 2rem;
}
/* nav */
.gnb_area {
    position: fixed;
    top: 4.372rem; left: 0;
    width: 100%;
    padding: 5.33rem 0;
    background: #fff;
    border-top: 5px solid #539064;
    z-index: 5;
    display: none;
}
.gnb_area > ul {
    display: block
}
.gnb_area > ul > li > a {
    font-size: 1.25rem;
    line-height: 4rem;
}

/* best_menu */
#best_menu_area {
    padding: 0 0 5rem; /* 80px */
}
.best_menu {
    flex-wrap: wrap;
}
.best_menu > li {
    flex: 0 0 auto;
    width: calc(50% - 15px);
}

/* event */
#event {
    height: 15rem; /* 240px */
}

/* review */
#review_area {
    padding: 5rem 0 2.5rem;
}
.review {
    flex-wrap: wrap;
}
.review > li {
    flex: 0 0 auto;
    width: calc(50% - 15px);
}
.review > li .img {
    width: 180px;
    height: 180px;
}
